body{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* div{
    border: 1px solid rgb(0, 0, 0);
} */

.image{
    width: 30%;
    object-fit: fill;
    box-shadow: 2px 2px 10px 1px rgba(84, 84, 84, 0.761);    
    z-index: 2;
}

.img{
    height: 600x;
    width: 500px;
}

.text{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    height: 400px;
    flex: 1;
}

#intro,
#body,
#footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

#intro-content{
    display: flex;
    margin: 5% 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.headshot{
    height: 500px;
    width: 500px;
    background-image: url('/src/images/coolshib.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: end; */
    font-size: 48px;
}

#footer{
    background: rgba(0, 128, 0, 0.535);
}

#content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5% 10%;
    width: 100%;
}

#work-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.work{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px 1px rgba(84, 84, 84, 0.761);  
}

.screenshot{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

#footer-content{
    display: flex;
    margin: 3% 10%;
}

.text-box{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    flex-grow: 1;
    padding: 24px;
    gap: 5px;
    
}

.footer-img{
    flex-basis: 2;
    flex-grow: 2;
}

.header{
    font-size: 48px;
}

.txt{
    font-size: 28px;
}

.description-heading{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.description{
    font-size: 18px;
    height: auto;
}

.icons{
    display: flex;
    gap: 10px;
}

.icon{
    width: 30px;
}

.description-box{
    height: 150px;
    padding: 10px;
    background-color: white;
}

.backdrop{
    position: absolute;
    top: -150px;
    background-color: rgb(65, 147, 65);
    height: 700px;
    width: 120%;
    z-index: -1;
    /* clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%); */
    transform: rotate(-8deg);
    box-shadow: 2px 2px 10px rgb(132, 132, 132);
}

.big-icon{
    width: 40px;
}

.intro-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 30px;
}

.end{
    align-self: end;
}

@media (max-width: 1024px){
    .work{
        display: flex;
        width: 40%;
        flex-wrap: wrap;
    }
}